body {
  font-size: 12px;
  /* font-family: Comic Sans MS; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 2vw 2vw;
  display: flex;

  background-image: linear-gradient(to right bottom, #ebeef1, #8ca8ee);
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.main-card {
  margin-top: 15px;
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.2);
  color: #96a1a1;
  opacity: 70%;
  cursor: pointer;
  transform: rotate(10deg);
}

.main-card:hover,
.about:hover {
  color: #000000;
  transition: 0.8s;
  top: -10px;
  box-shadow: 0 5px 2px 0px #666;
  margin-top: 7px;
  opacity: 100%;
  transform: rotate(0deg);
}

.cover-photo {
  background-image: url(https://miro.medium.com/max/1400/1*0E9gGRlF-scbUaEzPopCjA.jpeg);
  width: 190px;
  height: 90px;
  background-size: 165%;
  background-position: right;
  /* padding: 5px; */
}

.photo {
  background: #f9f9f9;
  width: 180px;
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.photo {
}

img {
  position: relative;
  width: 80px;
  height: 110px;
  top: -83px;
  max-width: 100%;
  max-height: 120%;
  border-radius: 50%;
  border: 2px solid #f9f9f9;
  color: transparent;
  margin-top: 30px;
}

.content {
  background: rgb(255, 255, 255);
  width: 180px;
  height: 120px;
  /* position: relative; */
  padding: 5px;
}

h2.name,
a,
h3 {
  margin: 2px;
  text-align: center;
  margin-bottom: -15px;
}

.tera {
  text-align: center;
}

h2.name {
  font-size: 14px;
  margin-top: -45px;
}

h3.fullstack {
  font-size: 12px;
  margin-top: 20px;
}

.team {
  font-size: 10px;
  margin-bottom: 5px;
}

.about {
  color: #96a1a1;
  font-size: 9px;
  text-align: justify;
  margin: 2px;
  margin-top: 15px;
}

.footer {
  background-color: yellow;
}

li {
  display: flex;
  flex-direction: row;
}
