body {
  font-size: 12px;
  /* font-family: Comic Sans MS; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 2vw 2vw;
  display: flex;

  background-image: linear-gradient(to right bottom, #ebeef1, #8ca8ee);
}

.main-card {
  /* box-shadow: 0px 2px 18px 4px #000; */
  display: inline;

  border-radius: 10px;
  width: 120px;
  height: 120px;
}

.cover-photo {
  background-image: url(https://miro.medium.com/max/1400/1*0E9gGRlF-scbUaEzPopCjA.jpeg);
  width: 180px;
  height: 70px;
  background-size: 165%;
  background-position: right;
  padding: 5px;
}

.photo {
  background: #ffffff;
  width: 180px;
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

img {
  position: relative;
  width: 80px;
  height: 110px;
  top: -83px;
  max-width: 100%;
  max-height: 120%;
  border-radius: 50%;
  box-shadow: -1px 1px 11px 6px rgba(189, 172, 172, 0.33);
  border: 2px solid #000;
  color: transparent;
  margin-top: 30px;
}

.content {
  background: #f9f9f9;
  width: 180px;
  height: 150px;
  position: relative;
  top: -35px;
  padding: 5px;
}

h2.name,
a,
h3 {
  margin: 2px;
  text-align: center;
}

.tera {
  text-align: center;
}

h2.name {
  font-size: 14px;
}

h3.fullstack {
  font-size: 12px;
}

.team {
  font-size: 10px;
}

.about {
  color: #020303;

  font-size: 8px;
  text-align: justify;
}

a:hover {
  color: rgb(76, 75, 75);
}

li {
  /* display: inline; */
  width: 50px;
  height: 50px;
  color: #0ab581;
}
